/* ESTILOS DEL MODAL */

.headerModal{
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.selectunitRange{
    display: flex;
    gap: 10px;

}

.contenidoM{
  height: 68px;
}


.labelText{
    width: 185px;
}

.footerModal{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btnAction{
    display: flex;
    gap: 20px;
}




@media (max-width: 576px) {
    .selectunitRange {
        flex-direction: column;
        width: 100%;
    }
    .responsiveTime{
      width: 100%;
    }
  }
  
  .button {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #a3e635;
    background-color: #a3e635;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(22px);
    color: #292727;
    font-weight: 500;
    font-size: 15px;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #65a30d;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 20px;
    fill: #fff;
  }
  
  .button:hover {
    background: #a3e635;
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button:active .button__icon {
    background-color: #a3e635;
  }
  
  .button:active {
    border: 1px solid #a3e635;
  }