#map {
  height: 100%;
}


.popup-bubble {
  position: absolute;
  top: -28px;
  left: 0px;
  transform: translate(-50%, -100%);
  padding: 7px;
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-weight: 600;
  overflow-y: auto;
}

.popup-bubble-unit {
  position: absolute;
  top: -35px;
  left: 0px;
  transform: translate(-50%, -100%);
  background-color: #fff;
  padding: 7px;
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-weight: 600;
  overflow-y: auto;
}

.content-custom-popup {
  display: flex;
  flex-direction: column;
  max-height: 280px;
  min-width: 250px;
  background-color: #1f2937;
  color: #fff;
  border-radius: 12px;
  font-size: 12px;
  padding: 5px;


}
.popup-subtitle {
  font-weight: 500;
  color: #ccc;
  text-transform: uppercase;
  margin-bottom: 4px;
}


.popup-close-btn {
  position: absolute;
  top: 8px;
  right: 20px;
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 5px;
}

.popup-title {
  font-size: 14px;
  font-weight: 600;
  border-bottom: 0.5px solid #424447;
  padding-bottom: 4px;
  margin-bottom: 8px;
}

.follow-link {
  display: block;
  background-color: #2563eb;
  color: white;
  text-align: center;
  padding: 8px;
  border-radius: 6px;
  text-decoration: none;
  margin-top: 10px;
  font-weight: 500;
  transition: background-color 0.3s;
}

.content-custom-popup .popup-close-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  border: none;
  border-radius: 50%;
  font-size: 10px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.popup-bubble-anchor {
  position: absolute;
  width: 100%;
  bottom: 8px;
  left: 0;
}

.popup-bubble-anchor::after {
  content: '';
  position: absolute;
  top: -35px;
  left: 0px;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #fca311;
}

.popup-bubble-unit-anchor {
  position: absolute;
  width: 100%;
  bottom: 8px;
  left: 0;
}

.popup-bubble-unit-anchor::after {
  content: '';
  position: absolute;
  top: -35px;
  left: 0px;
  transform: translate(-50%, 0);
  
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #fff;
}

.popup-container {
  cursor: auto;
  height: 0;
  position: absolute;
  width: 200px;
}

.popup-bubble,
.popup-bubble-unit,
.content-custom-popup {
  user-select: none;
}

