/* ESTILOS DE LA TABLA REPORTE GENERAL */

.lineaH {
  height: 2px; /* Grosor de la línea */
  background: linear-gradient(to right, #FB7B0F, rgba(251, 123, 15, 0)); /* Degradado de izquierda a derecha */
  border: none;
  padding: 0; /* Sin padding */
  margin-top: -12px;
  margin-left: 10px;

}



.userReporte {
  display: flex;
  gap: 10px;
  align-items: center;
}
.locationColumn {
  max-width: 700px;
  white-space: nowrap;
  overflow: hidden;
}

.locationColumnU {
  max-width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lineHorizontal {
  border: none;
  height: 0.5px;
  background-color: rgba(17, 62, 185, 0.1);
  margin-top: 15px;
}

.headerRG {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: -20px;
}
.tablaReportMargen {
  padding-left: 20px;
  padding-right: 20px;
}

.alinearDate {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dateS{
  display: flex;
  align-items: center;
  padding: 1px;
}


.tablaReport {
  overflow-y: auto;
  height: 95vh;
  margin-top: -51px;
}
.tablaReport::-webkit-scrollbar {
  width: 4px;
}
.tablaReport::-webkit-scrollbar-thumb {
  background: #f77712;
  border-radius: 10px;
}

.headerColumT {
  background: #fb7b0f;
  color: #ffffff;
  text-align: center;
}

.centerCell {
  text-align: center;
}
.centerMap {
  display: flex;
  justify-content: center;
}

.resaltarT {
  color: #0d3b66;
  font-weight: bold;
}

.resaltar {
  color: #ffffff;
  font-weight: 500;
}

.fristData {
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 25%;
  border-radius: 10px;

}

.selectRows{
  padding-top: 55px;
  margin-right: -20px;
}

.textDat {
  width: 200px;
}

.fristDataa {
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 22.5%;

}

.stick {
  position: sticky;
  top: 0;
  margin-top: 0px;
  margin-bottom: 85px;
}

@media (max-width: 1300px) {
  .fristData {
   width: 40%;
  }
}

@media (max-width: 780px) {
  .datosReporting {
    flex-direction: column;
    align-items: start;
  }

  .fristData {
    width: 100%;
    justify-content: start;
    align-items: start;
  }

  .selectRows{
    width: 100%;
    padding-top: 0;
    margin-right: 0px;
    display: none;

  }
    .lineaH {
    display: none;
  }

}



.tablaBase{
  margin-bottom: 50px;
  height: 70vh;
}

.datosReporting {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.download-btn {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  transition: all 0.2s ease;
  cursor: pointer;
  margin-left: 5px;

}
.download-btn svg {
  width: 25px;
  height: 25px;
  transition: all 0.3s ease;
  margin-left: 10px;
  fill: #011627;

}

.whatsapp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #a3e635;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(179, 162, 162, 0.3);
  animation: breathe 2s ease-in-out infinite;

}

.whatsapp-btn:hover{
  background-color: #89c032;

}



@keyframes breathe {
  0% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(37, 211, 102, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
