#dateInput{
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px 0 0 10px;
    color: #000000;
    width: 115px;
    height: 38px;
    font-weight: 400;
    font-size: 14px;
}

input:focus {
    outline: none;
}

#timeInput{
    border-radius: 0 10px 10px 0;
    width: 94px;
    font-size: 14px;
    height: 38px;
    color: #000000;
    font-weight: 400;

}