:root {
  --primary: #DD946F ;
  --primary-hover: #FB7B0F;                
  --background: #261E5A;
  --navbar-height: 0px;
}

.dataUser{
  display: flex;
}
.tollbar-bg{
  background: #113eb9;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 100% 70%, 2% 70%, 1% 90%, 0 90%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tollbar {
  height: 70px;
  width: 100%;
  position: relative;
  z-index:999;
  display: flex;
  padding-top: 0px;
}


.menu__wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  z-index: 18;

}

.mobileicon{
  background: transparent;
  display: flex;
  justify-content: end;
  margin-left: 100%;

}

.menu__bar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-right: 24px;
  gap: 32px;
  height: 50px;
  font-weight: 500;
}

@media (max-width: 1200px) {
  .menu__bar{
    opacity: 0.9;
  }
}

.menu-icon {
  cursor: pointer;
  display: flex;
  height: 22px;
  width: 22px;
}

.navigation {    
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  gap: 30px;
  padding: 0px;

}
.ubicCenter{
  background: #b6b5a6;
}

h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 17px;
}

.userInicio{
  color: #fff;
  display: flex;
  gap: 10%;
  justify-content: start;
  align-items: center;
  display: block;
}

.logo {
  margin-left: 16px;
  width: 35%;
  height: 32px;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  color: #fff;
  gap: 10px;
}

.logo img{
  width: 20px;
  margin-right: 5px;

}

.optMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
                  
.navigation > li {
display: flex;
position: relative;
cursor: pointer;
font-size: 0.88rem;
}

.navigation > li > a {
  color: rgb(216, 214, 214);
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  text-decoration: none;
  font-weight: 600;

  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 3px 0;
  position: relative;
  transition: all 0.2s ease-in-out;
}


.navigation > li > a:hover {
  color: #ffffff;

}


.navigation > li > a.active {
  color: #ffffff;
}

.navigation > li > a::before,
.navigation > li > a.active::before {
  content: '';
  background: #fff;
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.2s ease-in-out;
}

.navigation > li > a:hover::before,
.navigation > li > a.active::before {
  width: 100%;
}

@media (min-width: 1355px) {
  .menu-icon {
      display: none;
  }
}

@media (max-width: 1355px) {
  .logo{
    width: 90%;
    font-size: 10px;
  }
  
  .navigation {
      display: none;
  }

  .menu-icon {
      display: block;
  }

  .navigation--mobile {
      top: 0;
      position: absolute;
      right: 0px;
      display: flex;
      padding: 80px 60px;
      height: 100%;
      background-color: #000814;       
      gap: 8px;
      flex-direction: column;
      align-items: flex-start;
      opacity: 0.95;
      animation: fadein 0.3s forwards;
      z-index: 0;
  }


  @keyframes fadein {
      0% {
          opacity: 0;
          width: 0;
          height: 0;
      }
      100% {
          opacity: 1;
          width: 100%;
          height: calc(100vh - var(--navbar-height));
      }
  }

  .navigation--mobile--fadeout {
      animation: fadeout 300ms forwards;
  }

  @keyframes fadeout {
      0% {
          opacity: 1;
          width: 100%;
          height: calc(100vh - var(--navbar-height));
      }
      100% {
          opacity: 0;
          width: 0;
          height: 0;
      }
  }
}

.dropdown a{
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.container{
  background-color: transparent;
  width: 144px;
  height: 10px;
  position: absolute;
  margin-top: -10px;
}

.containerplan{
  background-color: transparent;
  width: 170px;
  height: 10px;
  position: absolute;
  margin-top: -10px;
}

.containerope{
  background-color: transparent;
  width: 135px;
  height: 10px;
  position: absolute;
  margin-top: -10px;
}

.containerEstad{
  background-color: transparent;
  width: 175px;
  height: 10px;
  position: absolute;
  margin-top: -10px;
}

.dropdown-menue {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--primary-hover);
  display: none;
  margin-top: 8px;
  z-index: 20;
  border: none;
  border-radius: 0 0 8px 8px;
}

.planificacion{
  width: 170px;
  margin-left: -76px;
}

.ope{
  width: 135px;
  margin-left: -43px;
}

.estad{
  width: 175px;
  margin-left: -87px;
}

.dropdown-menue li {
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-align: right;
  border-bottom: 2px solid #ff9c5a;
}

.dropdown-menue li:last-child {
  border-bottom: none;
  border-radius: 0 0 8px 8px;
  padding-bottom: 9px;
}

@media (max-width: 1200px) {
  .dropdown-menue{
    margin-top: 0;
  }
  .dropdown-menue li {
    text-align: left;
    right: 0;
    
  }
  .planificacion, .estad{
    width: 170px;
    margin-left: 0
  }
  .ope{
    width: 140px;
    margin-left: 0
  }
}

/* Hover effect for dropdown items */
.dropdown-menue li:hover {
  background-color: #ff9c5a;
}

.dropdown-menue li a{
  font-size: 12px;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 13px;
}

.dropdown-menue a:hover {
  background-color: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menue {
  display: block;
}


/* Style the dropdown caret icon */
.dropdown-iconn {
  display: none;
  position: absolute; 
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

}

.dropdown:hover .dropdown-iconn {
  display: block;
  right: -15px;
}

.dropdown-icon {
  display: inline-block; 
  cursor: pointer;
  margin-right: 40px;
  margin-bottom: -2px;
}

/*SUBMENU STYLES PROGRAMACIÓN*/

.dropdown-menue-left{
  display: none;
  position: absolute;
  background-color: var(--primary-hover);
  left: -168px;
  top: 66px;
  border-radius: 8px 0 0 8px;
}

.ProgramacionHover:hover .dropdown-menue-left{
  display: block;
}

.dropdown-menue-left li:last-child{
  padding: 6px;
}

@media (max-width: 1200px) {
  .dropdown-menue-left{
    display: none;
    position: absolute;
    background-color: var(--primary-hover);
    left: 146px;
    width: 175px;
    top: 66px;
    border-radius: 0 8px 8px 0;
  }
  
  .dropdown-icon {
    position: absolute;
    right: -95px;
    top: 25%;
    transform: rotate(180deg);
  }
}

.exitToolbar{
  background: transparent;
  color: white;
  height: 85px;
  padding-top: 28px;
  width: 50px;
  margin-right: -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
