.contenetTurnos {
  display: flex;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  gap: 20px;
  overflow-y: auto;
  height: 92vh;
}

.tituloTunos {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 18px;
  background: #dddedf;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.colorIcono {
  color: rgb(23, 23, 24);
}

.titleModal {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ingreso {
  width: 50%;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  height: auto;
  overflow-y: auto;
}

.salida {
  width: 50%;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  height: auto;
  overflow-y: auto;
}

.salida::-webkit-scrollbar {
    width: 2px;
  }
  .salida::-webkit-scrollbar-thumb {
    background: #F7931E;
    border-radius: 10px;
  }

.ingreso::-webkit-scrollbar {
  width: 2px;
}
.ingreso::-webkit-scrollbar-thumb {
  background: #F7931E;
  border-radius: 10px;
}

.tableScrooll {
  height: 85vh;
  overflow-y: auto;
}

.tableScrooll::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.tableScrooll::-webkit-scrollbar-thumb {
  background: #a3a2a1;
  border-radius: 10px;
}

@media screen and (max-width: 1176px) {
  .contenetTurnos {
    flex-direction: column;
    height: auto;
    height: 95vh;
    overflow-y: auto;
  }
  .ingreso {
    flex: 0 0 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }
  .salida {
    width: 100%;
    flex: 0 0 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

#containerInput {
  display: flex;
  flex-direction: column;
}

.horaI {
  font-size: 14px;
  margin-top: -3px;
  margin-bottom: 5px;
}

.inputHora {
  height: 40px;
  margin-left: 5px;
  border-radius: 10px;
}

.mensajeIngreso {
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #636363;
  padding-top: 5px;
}

.contenidoModal {
  margin-top: -20px;
}

.btnEdit {
  background: #d4eff5;
  height: 25px;
  width: 25px;
}

.btnDelete {
  background: #fff0f3;
  height: 25px;
  width: 25px;
}

.headTabla {
  background: #dddedf;
  font-weight: 500;
  color: rgb(39, 38, 38);
  padding: -10px;
  font-size: 11px;
}

.rowTable {
  font-size: 11px;
}

.totalItems {
  color: #003566;
  font-weight: 400;
}

.mensajeR{
  display: flex;
  flex-direction: column;
}
.errorMesageUser{
  margin-top: -15px;
  font-size: x-small;
  color: #c1121f;

}

.errorMesageUserI{
  margin-top: 0px;
  font-size: x-small;
  color: #c1121f;

}

.anchoP{
  width: 100%;
}

.contenidoEdit{
  margin-top: 3px;
  margin-bottom: 3px;
}