@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #ffffff;
  overflow-y: hidden;
}

.scrollbarLogin {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}
.scrollbarLogin::-webkit-scrollbar {
  width: 6px;
}
.scrollbarLogin::-webkit-scrollbar-thumb {
  background: #f77712;
  border-radius: 10px;
}

.mainPruebas {
  width: 100%;
  position: absolute;
  height: 100vh;

}

.optionTables {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalEstilo {
  padding-bottom: 15px;
}

.popup-hidden {
  display: none;
}

/* ACA TERMINA LOS ESTILOS DEL REPORTE */

/* LOADER */

.spinner {
  --size: 22px;
  --first-block-clr: #113eb9;
  --second-block-clr: #fb7b0f;
  --clr: #111;
  width: 50px;
  height: 50px;
  position: relative;
  margin-top: -20px;
}

.spinner::after,
.spinner::before {
  box-sizing: border-box;
  position: absolute;
  content: '';
  width: var(--size);
  height: var(--size);
  top: 50%;
  animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
  left: 50%;
  background: var(--first-block-clr);
}

.spinner::after {
  background: var(--second-block-clr);
  top: calc(50% - var(--size));
  left: calc(50% - var(--size));
  animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

@keyframes down {
  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(100%) translateY(100%);
  }

  75% {
    transform: translateY(100%);
  }
}

@keyframes up {
  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-100%) translateY(-100%);
  }

  75% {
    transform: translateY(-100%);
  }
}

.viewDevice {
  display: flex;
  border: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.imgDevice {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 5px 0px 0px 5px;
}

.odometroDiv {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  border-radius: 0px 5px 5px 0px;
}

.odometer {
  font-size: 40px;
  border: solid 1px #003049;

  border-radius: 5px;
  color: #ced4da;
  text-align: center;
  background: #113eb9;
}

.deviceOnly {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  gap: 10px;
  color: #18191a;
}

.deviceId {
  background: #ffba08;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
}
.kmp {
  padding: 5px;
}

.devicePadding {
  padding-bottom: 20px;
}

.itemChip {
  border-radius: 5px;
  color: #101111;
  padding: 5px;
  margin-top: 10px;
  font-weight: 500;
}

.spinnerCenter {
  display: flex;
  justify-content: center;
}

.errorMesageUserI {
  margin-top: 0px;
  font-size: x-small;
  color: #c1121f;
}

/* Oculta el botón de cerrar del InfoWindow */
.gm-ui-hover-effect {
  display: none !important;
}

.pasajerosleyenda {
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
}




